:root {
    --border-radius: 12px;
    --color-gold: #ffca28;
    --color-orange: #ff4a20;
    --dark-color: #333;
    --light-color: #bbb;
    --mid-color: #666;
    --history-color: #ccc;
    --odd-gradient: linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(85, 85, 85) 90%);
    --even-gradient: linear-gradient(270deg, rgb(51, 51, 51) 0%, rgb(85, 85, 85) 90%);
}

body {
    font-size: 16px;
}

.container {
    width: 95%;
}

.main-navbar {
    border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}

.main-content {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

h2 {
    font-size: 1.5em;
}

.table > tbody > tr > td {
    padding: 5px;
}

.history td {
    color: var(--history-color) !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.pagination > li:first-child > span {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.btn-group > .btn + .dropdown-toggle,
.pagination > li:last-child > span {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.btn-group > .btn {
    background-color: var(--dark-color);
    border-color: var(--mid-color) !important;
    border-radius: var(--border-radius) !important;
    color: var(--light-color);
}

.caret {
    border-top-color: var(--light-color) !important;
}

.peity {
    background: linear-gradient(to bottom, #353535, #444444);
    border-radius: var(--border-radius) !important;
}

polygon {
    fill: var(--color-gold);
}

polyline {
    stroke: var(--color-orange);
    stroke-width: 1px;
    ;
}

.progress {
    border-radius: var(--border-radius) !important;
    overflow: hidden;
}

.progress-bar-info {
    background-color: var(--color-gold);
    border-right: 1px solid var(--color-orange);
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.multioperations-selector,
.form-control {
    border-radius: var(--border-radius) !important;
}

.table {
    border-collapse: separate !important;
}

table,
tbody,
tr {
    border-radius: var(--border-radius) !important;
}

tbody > tr:first-child > td:first-child {
    border-radius: var(--border-radius) 0 0 0 !important;
}

tbody > tr:first-child > td:last-child {
    border-radius: 0 var(--border-radius) 0 0 !important;
}

tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 var(--border-radius) !important;
}

tbody > tr:last-child > td:last-child {
    border-radius: 0 0 var(--border-radius) 0 !important;
}

tbody > tr:only-child > td:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

tbody > tr:only-child > td:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

tbody.no-downloads > tr > td:only-child {
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius) !important;
}

#queue-messages .label {
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) var(--border-radius) !important;
}

#queue-messages table tbody td:only-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

#queue-messages .table-messages-remove {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

table.queue-table tr:nth-child(even),
table.history-table tr:nth-child(odd) {
    background: var(--odd-gradient);
}

table.queue-table tr:nth-child(odd),
table.history-table tr:nth-child(even) {
    background: var(--even-gradient);
}