/* ==UserStyle==
@name           SABNZBd Glitter Mode Night Enhanced
@namespace      https://github.com/AJCrowley/SABNZBd-Glitter-Night-UserCSS
@version        1.1.0
@description    Enhancements for SABNZBd Glitter Mode Night Theme
@author         Kris McCann
==/UserStyle== */
/*@-moz-document url-prefix("http://127.0.0.1:6060/sabnzbd/") {*/
    /* Note: Make sure that the selected theme in SABNZBd is Glitter - Night for this CSS to work */
    :root {
        --border-radius: 12px;
        --color-gold: #ffca28;
        --color-orange: #ff4a20;
        --dark-color: #333;
        --light-color: #bbb;
        --mid-color: #666;
        --history-color: #ccc;
        --odd-gradient: linear-gradient(90deg, #333 0%, #555 90%);
        --even-gradient: linear-gradient(270deg, #333 0%, #555 90%);
        --vertical-gradient: linear-gradient(to top, var(--mid-color), var(--dark-color));
    }

    body {
        font-size: 16px;
    }

    .container {
        width: 95%;
    }

    .ui-slider,
    .ui-slider-range,
    .ui-slider-handle,
    .multioperations-selector,
    .form-control,
    table,
    tbody,
    tr,
    tbody.no-downloads > tr > td:only-child,
    table.queue-table tr:first-child,
    #queue-messages .label{
        border-radius: var(--border-radius) !important;
    }

    .main-navbar {
        border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
    }

    .main-content {
        border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .pagination > li:first-child > span,
    tbody > tr:only-child > td:first-child,
    #queue-messages table tbody td:only-child {
        border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
    }

    .btn-group > .btn + .dropdown-toggle,
    .pagination > li:last-child > span,
    tbody > tr:only-child > td:last-child,
    #queue-messages .table-messages-remove {
        border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
    }

    tbody > tr:first-child > td:first-child {
        border-radius: var(--border-radius) 0 0 0 !important;
    }

    tbody > tr:first-child > td:last-child {
        border-radius: 0 var(--border-radius) 0 0 !important;
    }

    tbody > tr:last-child > td:first-child {
        border-radius: 0 0 0 var(--border-radius) !important;
    }

    tbody > tr:last-child > td:last-child {
        border-radius: 0 0 var(--border-radius) 0 !important;
    }

    table.queue-table tr:nth-child(even),
    table.history-table tr:nth-child(odd) {
        background: var(--odd-gradient);
    }

    table.queue-table tr:nth-child(odd),
    table.history-table tr:nth-child(even) {
        background: var(--even-gradient);
    }

    .ui-slider-range {
        background-color: var(--color-gold) !important;
    }

    .ui-slider {
        background-color: var(--dark-color) !important;
    }

    .ui-slider-handle {
        background-color: var(--light-color) !important;
    }

    .history td {
        color: var(--history-color) !important;
    }

    .glyphicon-link {
        color: var(--light-color);
    }

    .btn-group .caret {
        border-top-color: var(--light-color) !important;
    }

    .btn-group.open .caret {
        border-top-color: var(--dark-color) !important;
    }

    h2 {
        font-size: 1.5em;
    }

    .table > tbody > tr > td {
        padding: 5px;
    }

    .btn-group > .btn {
        background-color: var(--dark-color);
        border-color: var(--mid-color) !important;
        border-radius: var(--border-radius) !important;
        color: var(--light-color);
    }

    .peity,
    table.queue-table tr:first-child > td {
        background: var(--vertical-gradient);
        border-radius: var(--border-radius) !important;
    }

    polygon {
        fill: var(--color-gold);
    }

    polyline {
        stroke: var(--color-orange);
        stroke-width: 1px;
    }

    .progress {
        border-radius: var(--border-radius) !important;
        overflow: hidden;
    }

    .progress-bar-info {
        background-color: var(--color-gold) !important;
        border-right: 1px solid var(--color-orange) !important;
        border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
    }

    .table {
        border-collapse: separate !important;
    }
/*}*/